.nav{
    padding: 0.5rem;
    background-color: #eaeaea;
}

.nav img{
    padding-right: 3rem;
}

.nav ul {
    margin: auto;
    display: inline-flex;
    justify-content: space-evenly;
}

.nav li {
    display: inline-block;
    align-self: center;

}

.nav a{
    padding: 0 2rem;
    text-decoration: none;
    color: #495E57;
}