.nav{
    padding: 0.5rem;
    background-color: #eaeaea;
}

.nav img{
    padding-right: 3rem;
}

.nav ul {
    margin: auto;
    display: inline-flex;
    justify-content: space-evenly;
    padding-left: 1rem;
}

.nav li {
    display: inline-block;
    align-self: center;

}

.nav a{
    padding: 0 2rem;
    text-decoration: none;
    color: #495E57;
}


@media (max-width: 500px) {
    .nav img{
        padding-right: 1rem;
    }

    .nav ul {
        padding-left: 0;
    }

    .nav a {
        padding: 0 1rem;
    }

    .nav{
        font-size: .8rem;
    }
}

@media (max-width: 780px) {
    .optional{
        display: none !important;
    }
}